<P>&nbsp;</P>
<P>&nbsp;</P>

<div style="background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20(40).jpg'); background-repeat: no-repeat; background-size:cover; ">

  <div class="full-bg-img flex-center white-text">
    <ul class="animated fadeInUp col-md-12">
        <h1 class="h1-responsive flex-item font-bold">个人介绍关于读书、心理学方面。</h1>
        <li>
          <p class="flex-item">Incremental change is better than ambitions failure.</p>
    </ul>
  </div>
</div>
<p>
  在我有限的二十年里，仿佛在大学以前就不是我，懵懵懂懂，年少不知，小孩心绪，那完完全全就是个幼儿心智。除了要学习考试，就剩下玩乐，不知愁为何物。虽然也有小烦恼，比如有点胖，是个四眼，会为了考试成绩不理想而伤心难过，但大多数时候就很傻很天真。
</p>
<p>
  内向沉默、乖宝宝、好学生，这样的标签被贴于我，但我并没有有多大反感，总之是觉得与我无关的词而已。偶尔觉得我好像是话有点少。
</p>
<p>
  上述所言都是我上大学以前的状态。
</p>
<p>
  接着有了不太愉快的转机，大学需要住宿。我高一时住过一学期，整晚整晚的睡不着，后来正巧我家租的房子要拆迁，于是乎搬家到离学校很近的房子居住，我免于陷入青春期就失眠的困境。
</p>
<p>
  继续说到大学，虽然现在才大三，这两年多我居然感受到的是人生的启蒙。以前很依赖父母，朋友，举个例子，我没有单独出过远门，甚至是不敢一个人从主城回涪陵老家。对于我现在来说，能独自归家，虽然也还没有出远门，可是我有勇气面对一个人的旅程。
</p>
<p>
  住校，意味着要和室友朝夕相处，甚至于比父母还要更亲密的接触，因为同吃同住同睡同上课，一个私密而狭小的房间住着来自，不说五湖四海，也至少是重庆各地、宁夏的南北之地的室友，要学会插科打诨，逗趣说笑，因为本身不是幽默的人，就只能是学了，还要适应晚睡早起夜猫子的大学生活。最主要是神经敏感，一到晚上就莫名的紧张，一躺在床上就想晚上铁定的又失眠了，的确是如预料中失眠了。睡不着就会想东想西，埋怨室友的磨牙、说梦话、突然的一声呓语，很痛苦的经历，所以难以想象如果人不睡觉，那真的会疯狂。
</p>
<p>
  睡不好，那总得想办法睡好吧，周末两天都在家补觉。一回到学校心情就很郁闷，郁闷情绪通过写日记来发泄，但记录的都是些我的郁闷，我的无奈，全是负面情绪，以现在角度看，真的是雪上加霜的行迳。耳塞、眼罩、蒙头大睡、看枯燥的书都没有让我更好的睡眠质量。可是学总要上啊，想忍忍四年就过去了。
</p>
<p>
  那时都没有一个意识，是我想要改变环境，还是我自己改变，这样的很基本的基于现实而提出的问题，我居然没有想过，最后居然是我适应了，睡不着就睡不着吧，大不了就精神不好，脾气很糟，周末就回家好好睡一觉，我适应了大学头等难题。
</p>
<p>
  在我家来说，能解决温饱就行了，小孩子好好学习，认真上课就是本职，毕业了找份工作养活自己就行。因为家里穷，父母忙着打工挣钱，满足一家人的最基本的物质要求，所以很显而易见的是，我缺乏精神世界的培养。上了大学，课不多，我有了空闲时间，那思索着，该干点什么事，读书吧，又有趣又增长见识，图书馆的免费资源提供，多划算的事啊。
</p>
<p>
  开始看文学书，做读书笔记。对于小说啊，我最喜欢了，可以遨游在另一个世界，跟随主人公体会不一样的生活。把对自己觉得有意义的句子摘抄到本子上，做些个人备注想法、见解。
</p>
<p>
  在我大二、大三还在为很多事，苦闷担心害怕恐惧时，我想通过一种自我解救的方式，来救赎我自己，我开始转向学习自我鼓励，自我斗争，自我体悟的过程。看心理学方面的书籍资料，观察自己可能有些悲观人格，轻微抑郁，会时常心情低落。拖延症到deadline也还是拖，没完成作业报告就会心情郁闷，心里堵得慌，越拖越心情糟糕。找到解决的方法来源于，知乎一篇关于习惯的培养的文章，推荐了几本书和课程，《习惯的力量》、哈佛大学公开课---《积极心理学》等。有这篇关于习惯的文章，我逐渐慢慢改变，做事稍稍有计划，不那么拖延，心情也好受了许多。因为效果挺明显的，我在图书馆借了另一本《自信力》的书，通过书中的练习，找到了我的人生目标，自卑减少了很多，而且不在埋怨那么多小事，悲天悯人这样的词消失在我的人生字典里，我想至少现在我的改变挺大的，以前用”小心翼翼、如履薄冰、固步自封”这样的词形容自己，那现在我可以用“积极向上、情绪丰富、乐观开朗、话包子一个”来形容自己。还是有很多不成熟的地方，脸皮太薄，喜欢把事情往极端方向想，但是我仍旧在通过学习，实践来提升自己，不断成长。
</p>
<p>
  最近在观看《积极心理学》视频课程，我在其中收获颇多，拿自己作试验，发现了不一样的见解，原来我可以这样做，让自己更快乐开心。
</p>