  <P>&nbsp;</P>
  <P>&nbsp;</P>
<div class="card col-5 mt-2 pt-2 mr-2 hoverable" *ngFor="let psycho of psychos">
  <div class="card-header bg-default lighten-1 white-text text-center">
    心理学摘抄语录-{{psycho.no}}
  </div>
  <div class="card-body">
    <h4 class="card-title">{{psycho.no}}</h4>{{psycho.sentence}}
    <p class="card-text text-truncate">{{psycho.description}}</p>
    <div class="text-center">
      <!-- <a class="btn btn-deep-orange waves-light" routerLink="/hero-detail/{{topHero.id}}" mdbRippleRadius>查看详情</a> -->
      <button type="button" class="btn btn-sm btn-danger my-0 waves-light" (click)="delete(psycho.id)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>