<div class="row mt-5 pt-5 animated zoomIn" data-wow-delay="0.5s">
  <div class="col-3"></div>
  <div class="card col-6">
    <div class="card-body">
      <!--Header-->
      <div class="text-center">
        <h3>书籍详情</h3>
      </div>

      <!--Body-->
      <div class="md-form form-sm">
        <i class="fa fa-sort-numeric-desc prefix"></i>
        <input mdbActive type="text" id="formNo" class="form-control" [(ngModel)]="book.no">
        <label for="formNo">编号</label>
      </div>

      <div class="md-form form-sm">
        <i class="fa fa-address-card prefix"></i>
        <input mdbActive type="text" id="formName" class="form-control" [(ngModel)]="book.name">
        <label for="formName">书名</label>
      </div>

      <div class="md-form form-sm">
        <i class="fa fa-pencil prefix"></i>
        <textarea mdbActive type="text" id="formdesc" class="md-textarea mb-0"  [(ngModel)]="book.description"></textarea>
        <label for="formdesc">简介</label>
      </div>

      <!-- <div class="input-group md-form form-sm">
        <i class="fa fa-tag prefix"></i>
        <input type="text" class="form-control text-center" disabled placeholder="顶级英雄？">
        <span class="input-group-addon">
          <input type="checkbox" id="checkbox1"  [(ngModel)]="hero.isTop">
          <label for="checkbox1"></label>
        </span>

      </div> -->

      <div class="text-center mt-1-half">
        <button class="btn btn-pink mb-2 waves-light" mdbRippleRadius (click)="save()">
          保存
        </button>
        <button class="btn btn-deep-orange mb-2 waves-light" mdbRippleRadius (click)="goBack()">
            返回
        </button>
      </div>
    </div>
  </div>
</div>       
     